*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color:#000;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Work Sans',Roboto Condensed;
    
}

.row{
    max-width: 1140px;
    margin:0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,.5),rgb(0,0,0,.6)),url(img/Img2.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h2{
    font-size: 400%;
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
}
h1{
    font-size: 600%;
    color: #fff;
}

.obj-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px ;
    margin-left:30px
}

.obj-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 100px;
}

.obj-para{
    margin-top:30px;
    margin-bottom:20px;
    font-size: 150%;
    margin-left:30px;
    margin-right:30px;
}

.img1{
    width:80%;
    height: 80%;
    text-align: left;
    
}

.eventd-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}

.eventd-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

.description-section{
    background-color: #f4f4f4;
}

.event-para{
    margin-top:20px;
    font-size:150%;
    margin-left:30px;
    margin-right: 30px;
}

.event-list{
    font-size:130%;
    margin-bottom: 50px
}

.event-list li{
    margin-left:30px;
    margin-right: 30px;
    
}

.structure-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}

.structure-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

.structure-section{
    margin-bottom: 20px;
}

.structure-box{
    background-color:#f4f4f4 ;
    height: 250px; 
}

.structure-box2{
    margin-top:1%;
    background-color:#f4f4f4;
    margin-left:24%;
    margin-right:24%;
    
}

.structure-subheading2{
    text-align:center;
    font-size:150%;
    margin-bottom:30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4169E1 ;
}

.structure-para2{
    margin-left: 4%;
    margin-right: 4%;
    font-size:120%;
}


.structure-subheading{
    font-size: 150%;
    text-align: center;
    margin-bottom:30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4169E1 ;
}

.structure-para{
    font-size: 120%;
    padding-left: 20px;
    padding-right:10px
}

.rules-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}

.rules-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;


}

.para1 li{
    margin-top:5px;
    font-size:140%;
    margin-left: 30px;
}


.img4{
    margin-top: 30px;
    width:100%;
    margin-bottom: 30px;
}

.img5{
    margin-top: 30px;
    width:100%;
    margin-bottom: 30px;
}

.team-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px ;
    margin-left:30px;
    text-align: center;
}

.team-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

.team-para{
    font-size: 150%;
    color:#4169E1;
    text-align:center;
    margin-top: 10px;
    margin-bottom:60px

}

.fee-section{
    background-color:#f4f4f4;
}


.Faq-heading{
    font-size: 300%;
    color:black; 
    margin-top:50px;
    text-align: center;
}
.faq-question{
    font-size: 130%;
    margin-left:60px;
    margin-right:30px;
}

.faq-text{
    font-size: 130%;
    color: #4169E1;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right:30px;
}

.Faq-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#4169E1;
    content:" ";
    margin:30px auto 0 auto;
}

footer{
    background-color: #000000;
    padding-bottom:100px;
    margin-top: 8%;
}

.footer-para{
    font-size: 130%;
    color: #fff
}

.links li{
    list-style:none;
    display:inline-block;
    margin-left:20px
}

.links li a:link,
.links li a:visited{
    color:#fff;
    text-decoration: none;
    font-size:160%
}

.links{
    float:right;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-linkedin,
.fa-instagram-square{
    transition: 0.2s;
}

.fa-facebook-square:hover{
    color:#3b5998
}

.fa-twitter-square:hover{
    color: #1da1f2;
}

.fa-instagram-square:hover{
    color:#c32aa3 ;
}

.fa-linkedin:hover{
    color: #0a66c2;
}











